.create-appointment-button {
	display: flex;
	align-items: center;
	width: fit-content;
	column-gap: 8px;
	position: absolute;
	left: 2%;
	top: 9%;
	background-color: #ADA2FF;
    color: white;
	border-radius:42px;
	border:1px solid #d6bcd6;
	cursor:pointer;
	font-size:16px;
	padding:13px 19px;
	text-decoration:none;
	
	.add-icon{
		font-size: 25px;
	}
	

}