.insights{
    position: absolute;
    right: 1%;
    top: 17%;
    background-color: white;
    width: 26%;
    height: 35%;
    border-radius: 14px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    padding: 15px;
    
    
}